<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body style="background: white">
<section layout:fragment="content">
  <!-- Page Content -->
  <section class="index-1 position-relative d-flex justify-content-center align-items-center">
    <div class="index-background-1 position-absolute"></div>
    <h1 class="index-logo-1 text-uppercase text-light" th:text="#{footer.copyright}"></h1>
    </div>

  <section class="index-2 position-relative text-center">
    <div class="index-background-2 position-absolute"></div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-quotes" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-quotes" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="col col-md-3"></div>
    </div>
  </section>

  <section class="index-3 position-relative text-center">
    <iframe src="https://img3.akspic.ru/previews/8/0/7/7/3/137708/137708-ferrari_f430-ferrari_458-udachnyj_hod-superkar-sportkar-x750.jpg" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  </section>
</section>
</body>
</html>