<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<section layout:fragment="content">
    <!-- Page Content -->
    <div class="container">
        <div class="card border-0 shadow my-5 bg-light">
            <div class="card-body d-flex flex-row-reverse pe-5 pt-5" th:if="${currentUser!=null && currentUser.isAdmin()}">
                <a class="btn btn-outline-success shadow" href="/addMenuItem" role="button" th:text="#{buttons.additem}"></a>
            </div>
            <div class="card-body pb-5 px-5" th:each="category : ${categories}">
                <a th:attr="name=${category.getAnchorName()}"></a>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="display-4 fw-normal" th:text="${category.getLocalizedName()}"></h1>
                </div>
                <div class="row row-cols-3 g-4">
                    <div class="col" th:each="dish : ${category.getDishesList()}">
                        <div class="card border-success mb-3 h-100 shadow position-relative">
                            <a th:attr="name='dish-'+${dish.getId()}"></a>
                            <img th:attr="src=${dish.image}" class="card-img-top">
                            <div class="position-absolute d-inline top-0 end-0" th:if="${currentUser!=null && currentUser.isAdmin()}">
                                <form class="d-inline" th:action="@{'/addMenuItem'(dishId=${dish.id})}" method="get" >
                                    <input type="hidden" name="dishId" th:value="${dish.id}">
                                    <button class="btn btn-link px-2 ms-1 float-end edit-icon">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <form class="d-inline" action="/deleteMenuItem" method="post">
                                    <input type="hidden" name="dishId" th:value="${dish.id}">
                                    <button class="btn btn-link px-2 ms-1 float-end trash-icon">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${dish.getLocalizedName()}"></h5>
                                <p class="card-text" th:text="${dish.getLocalizedDescription()}"></p>
                            </div>
                            <div class="card-footer bg-transparent border-white">
                                <strong class="card-text fs-4 ">
                                    <span th:text="${#numbers.formatDecimal(dish.price, 0, 'COMMA', 2, 'POINT')}+' '+ #{general.rub}"></span>
                                </strong>
                                <form class="addItemForm" action="/addItem" method="post">
                                    <input type="hidden" name="dishId" th:value="${dish.id}">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>