<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<section layout:fragment="content">
    <!-- Page Content -->
    <div class="container">
        <div class="card border-0 shadow my-5 bg-light">
            <div class="card-body p-5">
                <div class="container">
                    <div class="pt-1 pb-2 text-center">
                        <img class="d-block mx-auto mb-4" src="/images/SAuto.png" width="300">
                        <h3 th:text="#{profile.title}"></h3>
                    <div class="order-md-1">
                        <form class="needs-validation" method="post" action="/profile" novalidate="">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="firstName" th:text="#{forms.firstname.label}"></label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" th:value="${currentUser} ? ${currentUser.getFirstName()} : ''" required="" pattern="^[A-Za-zА-Яа-яёЁ\- ]+$">
                                        <div class="invalid-feedback" th:text="#{forms.firstname.error}"></div>
                                    </div>
                                    <div>
                                        <label for="lastName" th:text="#{forms.lastname.label}"></label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" th:value="${currentUser} ? ${currentUser.getLastName()} : ''" required="" pattern="^[A-Za-zА-Яа-яёЁ\- ]+$">
                                        <div class="invalid-feedback" th:text="#{forms.lastname.error}"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="phoneNumber" th:text="#{forms.phone.label}"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">+375</span>
                                            </div>
                                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${currentUser} ? ${currentUser.getPhoneNumber()} : ''" required="" pattern="^(\d{2}|[(]?[0-9]{2}[)])(\d{7})$">
                                            <div class="invalid-feedback" style="width: 100%;" th:text="#{forms.phone.error}"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" th:value="${currentUser} ? ${currentUser.getEmail()} : ''" required="">
                                        <div class="invalid-feedback" th:text="#{forms.email.error}"></div>
                                    </div>
                            <div>
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col">
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <button class="btn btn-primary shadow btn-lg btn-block" type="submit" th:text="#{buttons.save}"></button>
                                </div>
                            </div>
                        </form>
                        <hr class="mb-4">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item" th:each="requestIndex, iterStat : ${#numbers.sequence(currentUser.getRequestsList().size() - 1, 0, -1)}" th:with="order=${currentUser.getRequestsList().get(requestIndex)}" th:if="${not currentUser.getRequestsList().get(requestIndex).isFormed()}">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" th:attr="data-bs-target='#order-'+${request.getId()}" data-bs-toggle="collapse" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <span th:text="#{profile.request.header.p1} + ${request.getId()}+ ' ' + #{profile.request.header.p2} + ' ' + ${#numbers.formatDecimal(request.requestTotal(), 0, 'COMMA', 2, 'POINT')} + ' ' "></span>
                                    </button>
                                </h2>

                                <div th:id="'request-'+${request.getId()}" class="accordion-collapse collapse" th:attrappend="class=${iterStat.first ? ' show' : ''}" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <div class="card border-white mb-0">
                                            <div class="card-body p-4 pb-0">
                                                <div class="row align-items-center">
                                                    <div class="col-md-2 d-flex justify-content-center">
                                                        <p class="mb-4 pb-0 lead" th:text="#{forms.photo.title}"></p>
                                                    </div>
                                                    <div class="col-md-2 d-flex justify-content-center">
                                                        <div>
                                                            <p class="mb-4 pb-0 lead" th:text="#{forms.name.title}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 d-flex justify-content-center">
                                                        <div>
                                                            <p class="mb-4 pb-0 lead" th:text="#{forms.description.title}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 d-flex justify-content-center">
                                                        <div>
                                                            <p class="mb-4 pb-0 lead" th:text="#{forms.price.title}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>